:root {
    --primary-color: #FFB319;
    --secondary-color: #0E2954;
    --text-color: #000000;
    --background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    background-color: #000000;
    line-height: 1.6;
}

h4 {
    color: var(--primary-color);
    text-align: center;
    padding-top: 50px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 1.9em;
    font-weight: normal;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-left: 20px;
}

header nav a {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1em;
    padding: 0.5em 0;
    transition: color 0.3s ease;
}

header nav a:hover{
    color: white;
}

#menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0;

}

main {
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

main h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
    color: var(--primary-color);
    font-weight: 500;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.post-card {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 10px;
    width: 300px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-color);
    background-color: lightgray;
}

.post-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

form {
    max-width: 600px;
    margin: 0 auto 0;
    padding: 20px;
    border-radius: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    font-family: "Outfit", sans-serif;
    margin-bottom: 20px;
}

input, label {
    display: block;
    width: 100%;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    font: 1em "Outfit", sans-serif;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: red;
}


@media (max-width: 600px) {
    
    header {
        padding: 0.75em 1em;
    }
    header .header-title h1 {
        font-size: 1.4em;
    }
    header nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    header nav.open {
        display: block;
    }

    #menu {
        display: block;
        font-size: 1rem;
        font-weight: 100;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        
    }

    main {
        padding: 1.5em 1em;
    }

    main h2 {
        font-size: 1.5em;
        margin-bottom: 1em;
    }


    #menu::before {
        content: "≡";
        font-size: 2rem;
    }

    nav {
        background-color: var(--secondary-color);
        
    }
    
    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav li {
        margin-left: 0;
        display: block; 
    }
    
    nav ul a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: var(--primary-color);
        font-weight: 400;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    nav ul a:hover {
        color: var(--background-color);
    }


    #menu.open::before {
        content: "X";
    }

    .post-card {
        background-color: var(--background-color);
    }

    input, select {
        width: 100%;
        margin-bottom: 1em;
    }
    input[type="submit"] {
        width: 100%;
        margin-bottom: 1em; 
    }
}

footer {
    background-color: var(--secondary-color); 
    color: var(--primary-color);
    text-align: center;
    padding: 1.5em 1em;
    font-size: 1em;
    font-weight: 500;
}


footer p {
    margin: 0.4em 0;
}

.contact-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    font: 1em "Outfit", sans-serif;
    font-weight: 500;
    padding: 20px 50px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto; 
    display: block;
    
}

@media (max-width: 480px) {
    header .header-title h1 {
        font-size: 1.2em;
    }
    main {
        padding: 1em 0.5em;
    }
    input[type="text"][id="fname"] {
        margin-right: 10px;
    }
}

strong {
    font-weight: 600;
    color: var(--primary-color);
}

ul {
    list-style-type: disc;
    padding-left: 30px;
}

input[type="text"] {
    display: inline-flex;
    width: calc(48% - 0.5px);
}

input[type="text"][id="fname"] {
  margin-right: 20px;
}